<template>
<div class="admin-panel column is-12">
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                <article class="media">
                    <figure class="media-left">
                        <p class="image">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="admin_name">Dazlure Admin</span>
                                <br>
                                <small>Admin</small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <!-- Right side -->
        <div class="level-right admin-panel-right">
            <div class="level-item">
                <p class="control has-icons-right">
                    <input class="input is-rounded is-small" type="text" placeholder="Type here for search">
                    <span class="icon is-small is-right">
                        <icon name="search" class=""></icon>
                    </span>
                </p>
            </div>
            <div class="level-item"><a href="#"><icon name="bell" class="sec-heading-icons bell badge is-badge-danger" data-badge="3"></icon><span class="badge is-badge-danger"  data-badge="3"></span></a></div>
        </div>
    </nav>
</div>
</template>

<script>
export default {
  name: "name",
  data: function() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.admin-panel {
  background-color: white;
}
.admin-panel .level {
  padding: 1em 1.5em;
}
.admin-panel .admin_name {
  font-family: "Proxima Nova Alt Bl", Georgia, sans-serif;
}
.admin-panel figure img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.admin-panel input {
  border: 0;
  box-shadow: none;
  width: 150px;
  color: #9ca4a6;
}
.admin-panel input:focus {
  border: 1px solid #9ca4a6;
}
.admin-panel small {
  color: #9ca4a6;
}
.admin-panel-right .level-item a {
  line-height: 0;
}
.bell,
.search {
  color: #9ca4a6;
}
@media screen and (max-width: 1023px) {
  .admin-panel-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
</style>
