<template>
<div class="column">
    <div class="buttons">
            <a class="button" @click.stop="showProfessionalModal">Add Professional</a>
            <add-professional/>
    </div>
</div>
</template>

<script>
import AddProfessional from "~/components/modals/addProfessional";
export default {
  components: {
    AddProfessional
  },
  methods: {
    showProfessionalModal() {
      this.$modal.show("add-new-professional-form-modal");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/css/_variables.scss";
.column {
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  .button {
    color: white;
    border-radius: 10px;
    background: rgba(254, 39, 120, 1);
    background: -moz-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(254, 39, 120, 1)),
      color-stop(73%, rgba(254, 39, 120, 1)),
      color-stop(100%, rgba(254, 60, 60, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
  }
}

@media screen and (max-width: 767px) {
  .column {
    display: flex;
    flex-direction: column;
    .buttons {
      div {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .buttons .button,
  i {
    font-size: 3vw;
  }
}
</style>
