<template>
  <div class="sidebar column is-2">

    <div class="navbar-brand logo">

      <a href="/" class="navbar-item logo_title">

      Dazlure

      </a>
  <a class="hamburger" @click="showNavMenu">
      <icon name="bars" class="ham"></icon>
    </a>
    </div>

    <div class="nav-menu-parent" :class="{nav_menu_hide:navMenuHidden}">

      <div class="column nav-menu">

        <nuxt-link to="/dashboard" @click.native="showNavMenu"><span><icon name="tachometer-alt" class="nav-icons"></icon>Dashboard</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-customer' }" @click.native="showNavMenu"><span><icon name="handshake" class="nav-icons"></icon>Customer Control</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-professional' }" @click.native="showNavMenu"><span><icon name="address-card" class="nav-icons"></icon>Professionals Control</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-applicant' }" @click.native="showNavMenu"><span><icon name="file" class="nav-icons"></icon>Applicants Control</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-screening' }" @click.native="showNavMenu"><span><icon name="file" class="nav-icons"></icon>Screening</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-service' }" @click.native="showNavMenu"><span><icon name="shopping-cart" class="nav-icons"></icon>Services Control</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-frontsite' }" @click.native="showNavMenu"><span><icon name="columns" class="nav-icons"></icon>Front site</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-mobilebanner' }" @click.native="showNavMenu"><span><icon name="mobile" class="nav-icons"></icon>Mobile Banner</span></nuxt-link>
        <!-- <nuxt-link :to="{ name: 'dashboard-lead' }" @click.native="showNavMenu"><span><icon name="wrench" class="nav-icons"></icon>Settings</span></nuxt-link>
        <nuxt-link :to="{ name: 'dashboard-lead' }" @click.native="showNavMenu"><span><icon name="user-circle" class="nav-icons"></icon>Profile</span></nuxt-link> -->
        <a @click.prevent="logout"><span><icon name="sign-out-alt" class="nav-icons"></icon>Logout</span></a>
  
  
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isActive: true,
      navMenuHidden: true
    };
  },
  methods: {
    showNavMenu() {
      this.navMenuHidden = !this.navMenuHidden;
    },
    logout() {
      this.$store.dispatch("user/logout");
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.sidebar {
  padding: 0;
}
/* .sec-heading {
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: 1px solid black;
} */
.nav-icons {
  margin-right: 0.3em;
  padding-top: 2px;
}
i.material-icons {
  margin-right: 0.4em;

  font-size: 0.9rem;

  color: #000107;
}
.nav-menu-parent .column {
  padding: 0;
}

.nav-menu a {
  padding: 0.3em 1em;
  color: white;
}
.logo {
  justify-content: space-between !important;
  .hamburger {
    margin-top: 0.5em;
    margin-right: 1em;
    .ham {
      color: white;
      font-size: 2em;
    }
  }
}
.navbar-brand {
  justify-content: center;

  align-items: center;
  background: rgba(254, 39, 120, 1);
  background: -moz-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(254, 39, 120, 1)),
    color-stop(73%, rgba(254, 39, 120, 1)),
    color-stop(100%, rgba(254, 60, 60, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
}

.navbar-brand .logo_title {
  font-size: 1.3em;

  color: white;

  text-transform: uppercase;
  font-family: "Magnel", serif;
}

.nav-menu-parent {
  height: 100%;

  padding-top: 1em;
  padding-bottom: 1em;
  background: rgba(254, 60, 60, 1);
  background: -moz-linear-gradient(
    top,
    rgba(254, 60, 60, 1) 0%,
    rgba(254, 39, 120, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(254, 60, 60, 1)),
    color-stop(100%, rgba(254, 39, 120, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(254, 60, 60, 1) 0%,
    rgba(254, 39, 120, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(254, 60, 60, 1) 0%,
    rgba(254, 39, 120, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(254, 60, 60, 1) 0%,
    rgba(254, 39, 120, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(254, 60, 60, 1) 0%,
    rgba(254, 39, 120, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3c3c', endColorstr='#fe2778', GradientType=0 );
}

.nav-menu {
  min-height: 100vh;
  max-height: 100vh;
  width: auto;

  display: flex;

  flex-direction: column;
}

.nav-menu a.nuxt-link-exact-active,
.nav-menu a:hover {
  background-color: #233342;
}

.nav-menu a.nuxt-link-exact-active i.material-icons {
  color: $lightOrange;
}

.nav-menu a.nuxt-link-exact-active span {
  color: #f8ffff;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 769px) {
  .nav-menu {
    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;
  }
  .hamburger {
    display: block;
  }

  .nav_menu_hide {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .navbar-brand .logo_title {
    margin: auto;
  }
}
</style>
