@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "variables";

// customize styles
@import "~bulma";
@import "~bulma-switch";
@import "~bulma-badge/dist/css/bulma-badge";

/* @font-face {
  font-family: "Magnel";
  src: url("~/assets/fonts/Magnel.otf") format("otf"),
    ("Magnel.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova Th";
  src: url("~/assets/fonts/ProximaNovaT-Thin.woff2") format("woff2"),
    url("~/assets/fonts/ProximaNovaT-Thin.woff") format("woff"),
    url("~/assets/fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova ScOsf Th";
  src: url("~/assets/fonts/ProximaNovaS-Thin.woff2") format("woff2"),
    url("~/assets/fonts/ProximaNovaS-Thin.woff") format("woff"),
    url("~/assets/fonts/ProximaNovaS-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Alt Rg";
  src: url("~/assets/fonts/ProximaNovaA-Regular.woff2") format("woff2"),
    url("~/assets/fonts/ProximaNovaA-Regular.woff") format("woff"),
    url("~/assets/fonts/ProximaNovaA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("~/assets/fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("~/assets/fonts/ProximaNova-Semibold.woff") format("woff"),
    url("~/assets/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Alt Bl";
  src: url("~/assets/fonts/ProximaNovaA-Black.woff2") format("woff2"),
    url("~/assets/fonts/ProximaNovaA-Black.woff") format("woff"),
    url("~/assets/fonts/ProximaNovaA-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Alt Rg";
  src: url("~/assets/fonts/ProximaNovaA-Bold.woff2") format("woff2"),
    url("~/assets/fonts/ProximaNovaA-Bold.woff") format("woff"),
    url("~/assets/fonts/~/assets/fonts/ProximaNovaA-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Proxima Nova Alt Rg", Georgia, sans-serif;
} */
html {
  min-height: 100vh;
  max-height: 100vh;
  background-color: #ecf0f1;
}
body {
  min-height: 100vh;
  max-height: 100vh;
}

#__nuxt,
#__layout {
  height: 100vh;
}
a {
  color: black;
}
.v--modal-box {
  background-color: $extraDarkGrey !important;
}
@media screen and (max-width: 1023px) {
  .v--modal-box {
    width: auto !important;
    left: 0 !important;
    top: 0 !important;
  }
}
