<template>
<div class="column parent-column">
  <div class="columns main-columns">
  <my-sidebar/>
  <div class="column main-column">
    <admin-panel />
    <div class="main-container">
      <nuxt/>
    </div>
  </div>
</div>
</div>
</template>

<script scoped>
import MySidebar from "~/components/sidebar";
import AdminPanel from "~/components/adminPanel";
export default {
  data() {
    return {};
  },
  components: {
    MySidebar,
    AdminPanel
  },
  methods: {}
};
</script>
<style lang="scss">
@import "~assets/css/_variables.scss";
/* @import "~assets/css/sec.scss"; */
.parent-column {
  padding: 0;
  min-height: 100vh;
  max-height: 100vh;
}
.main-columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  min-height: 100vh;
  background-color: $bg;
}

.main-column {
  padding: 0;
}
.main-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}
</style>
