<template>
<div class="login-form">
    <form @submit.prevent="authorize">
      <p class="error" v-if="formError">{{ formError }}</p>
      <div class="field">
  <label class="label">Your email or username</label>
  <div class="control">
    <input class="input" v-model="username" placeholder="Your email or username" required>
  </div>
</div>
      <div class="field">
        <label class="label">Your password</label>
  <div class="control">
    <input class="input" type="password" v-model="password" placeholder="Your password" required>
  </div>
</div>
      <div class="field">
  <div class="control">
    <a href="#" @click.prevent="noAccount">Don't have an account?</a>
  </div>
</div>
      
      
      <div class="field">
  <p class="control">
    <button type="submit" class="button submit">
      Login
    </button>
  </p>
</div>
    </form>

</div>
</template>

<script>
export default {
  layout: "loginLayout",
  data: () => ({
    username: "",
    password: "",
    formError: null
  }),
  async mounted() {
    if (this.$store.state.user.token) {
      try {
        await this.$store.dispatch("user/USER_GET_DETAILS");
        if (this.$store.state.user.direction) {
          this.$router.push({
            name: this.$store.state.user.direction
          });
        }
      } catch (e) {
        this.formError = e.message;
      }
    }
  },
  methods: {
    async authorize() {
      try {
        await this.$store.dispatch("user/USER_LOGIN", {
          username: this.username,
          password: this.password
        });
        this.username = "";
        this.password = "";
        this.formError = null;
        if (this.$store.state.user.direction) {
          this.$router.push({
            name: this.$store.state.user.direction
          });
        }
      } catch (e) {
        this.formError = e.message;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/css/_variables.scss";

* {
  color: white !important;
  .login-form {
    background-color: $extraDarkGrey;
    width: 30em;
    padding: 2em;
    .label,
    a {
      color: white !important;
    }
    input {
      color: #363636 !important;
    }
    .submit {
      background-color: $lightOrange !important;
      border: 0;
      &:hover {
        color: #efefef !important;
      }
    }
    a:hover {
      color: #efefef !important;
      text-decoration: underline;
    }
  }
}
</style>
