<template>
  <div class="bar-analytics">
    <bar-chart v-if="showBar" :data="barData" :options="options"/>
  </div>
</template>

<script>
import BarChart from "~/components/analytics/barChart";
export default {
  props: {
    color: String
  },
  components: {
    BarChart
  },
  data() {
    return {
      barData: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [
          {
            label: "Parameter",
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(255, 206, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(255, 159, 64, 0.2)"
            ],
            borderColor: [
              "rgba(255,99,132,1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)"
            ],
            borderWidth: 1
          }
        ]
      },
      options: {
        legend: {
          labels: {
            fontColor: this.color
          }
        },
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                fontColor: this.color
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                fontColor: this.color
              }
            }
          ]
        },
        maintainAspectRatio: false,
        responsive: true
      },
      showBar: false
    };
  },
  mounted() {
    this.showBar = true;
  }
};
</script>

<style scoped lang="scss">
.bar-analytics * {
  height: 250px !important;
}
@media screen and (min-width: 769px) {
  .bar-analytics {
    padding-left: 15%;
    * {
      width: 80% !important;
    }
  }
}
</style>
