<script>
import { Pie } from "vue-chartjs";
export default {
  extends: Pie,
  props: ["data", "options"],
  mounted() {
    console.log("Dataaaaaaaa:" + this.data);
    this.renderChart(this.data, this.options);
  }
};
</script>

<style scoped>
</style>
