<template>
<modal name="add-block-form-modal"  :scrollable="scrollable"  height="auto" @before-open="beforeOpen">
    <div class="block-form">
        <div class="modal-heading">
            <p>Add Landing Page Block</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('add-block-form-modal')">
                    <icon name="times"></icon>
            </a>
        </div>
        </div>
        <form @submit.prevent="addBlock">           
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="title" v-model="title">
                </div>
            </div>           
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Please enter a description..." v-model="description"></textarea>
                </div>
            </div>           
            <div class="field">
                <label class="label">Image</label>
                <div class="control">
                    <input class="file" ref="photo" type="file" @change="uploadPhoto">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('add-block-form-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from "~/plugins/eventBus.js";
export default {
  props: {},
  data() {
    return {
      scrollable: true,
      title: "",
      description: "",
      photoId: "",
      type: "",
      blockId: "",
      newBlock: false
    };
  },
  methods: {
    beforeOpen(event) {
      this.type = event.params.type;
      this.newBlock = event.params.newBlock;
      if (event.params.block) {
        this.blockId = event.params.block._id;
        this.title = event.params.block.ctTitle;
        this.photoId = event.params.block.ctImg;
        this.description = event.params.block.ctContent;
      }
      //console.log(JSON.stringify(event.params));
    },
    async uploadPhoto() {
      try {
        const formData = new FormData();
        formData.append("docs", this.$refs.photo.files[0]);
        const { data } = await this.$axios.$post("/api/files", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        });
        this.photoId = data.files._id;
        //console.log(JSON.stringify(data));
      } catch (e) {
        console.log(e);
      }
    },
    async addBlock() {
      try {
        if (this.newBlock) {
          //console.log(this.title + this.photoId + this.description + this.type);
          const { data } = await this.$axios.$post("/api/front", {
            ctTitle: this.title,
            ctImg: this.photoId,
            ctContent: this.description,
            ctType: this.type
          });
          //console.log(JSON.stringify(data));
          this.$store.commit("block/addSingleBlock", data.front);
        } else {
          console.log(this.title + this.photoId + this.description + this.type);
          const { data } = await this.$axios.$put(
            "/api/front/" + this.blockId,
            {
              ctTitle: this.title,
              ctImg: this.photoId,
              ctContent: this.description,
              ctType: this.type
            }
          );
          //console.log(JSON.stringify(data));
          this.$store.commit("block/editBlock", data.front);
        }
        this.$modal.hide("add-block-form-modal");
        // console.log(JSON.stringify(data));
      } catch (error) {
        if (error.response && error.response.status === 401) {
          throw new Error("Wrong credentials");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.block-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a,
  .file {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background: rgba(254, 39, 120, 1);
    background: -moz-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(254, 39, 120, 1)),
      color-stop(73%, rgba(254, 39, 120, 1)),
      color-stop(100%, rgba(254, 60, 60, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
