<template>
<modal name="add-category-form-modal"  :scrollable="scrollable"  height="auto" @before-open="beforeOpen">
    <div class="category-form">
        <div class="modal-heading">
            <p>Add Category</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('add-category-form-modal')">
                    <icon name="times"></icon>
            </a>
        </div>
        </div>
        <form @submit.prevent="addCategory">           
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" v-model="name">
                </div>
            </div>           
            <div class="field">
                <label class="label">Image</label>
                <div class="control">
                    <input class="file" ref="photo" type="file" @change="uploadPhoto">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('add-category-form-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from "~/plugins/eventBus.js";
export default {
  props: {},
  data() {
    return {
      scrollable: true,
      name: "",
      photoId: "",
      uploading: false
    };
  },
  methods: {
    beforeOpen(event) {
      this.newCategory = event.params.newCategory;
      console.log(event.params.category);
      if (event.params.category) {
        this.name = event.params.category.catName;
        this.photoId =
          typeof event.params.category.catImg === "object" &&
          event.params.category.catImg !== null
            ? event.params.category.catImg._id
            : event.params.category.catImg;
        this.categoryId = event.params.category._id;
      }
    },
    async uploadPhoto() {
      try {
        const formData = new FormData();
        formData.append("docs", this.$refs.photo.files[0]);
        this.uploading = true;
        const { data } = await this.$axios.$post("/api/files", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        });
        this.uploading = false;
        this.photoId = data.files._id;
        console.log(JSON.stringify(data));
      } catch (e) {
        console.log(e);
        throw e;
      }
    },
    async addCategory() {
      try {
        if (this.newCategory && !this.uploading) {
          const { data } = await this.$axios.$post("/api/servicecat", {
            catName: this.name,
            catImg: this.photoId
          });
          this.$modal.hide("add-category-form-modal");
          console.log(JSON.stringify(data));
          this.$store.commit("service/addSingleCategory", data.servicecat);
        } else if (!this.newCategory && !this.uploading) {
          const { data } = await this.$axios.$put(
            "/api/servicecat/" + this.categoryId,
            {
              catName: this.name,
              catImg: this.photoId
            }
          );
          this.$modal.hide("add-category-form-modal");
          console.log(JSON.stringify(data));
          this.$store.commit("service/editCategory", data.servicecat);
        }
        //this.$emit("applicantDeleted", data.applicant);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error("Internal Server Error");
        }
        if (error.response && error.response.status === 404) {
          throw new Error("No Record Found");
        }
        if (error.response && error.response.status === 401) {
          throw new Error("Not Authorized");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.category-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a,
  .file {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background: rgba(254, 39, 120, 1);
    background: -moz-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(254, 39, 120, 1)),
      color-stop(73%, rgba(254, 39, 120, 1)),
      color-stop(100%, rgba(254, 60, 60, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
