<template>
<modal name="add-new-professional-form-modal" :scrollable="scrollable" height="auto">
    <div class="professional-form">
        <div class="modal-heading">
            <p>Add New Professional</p>
            <div class="modal-close-button">
                <a @click.stop="$modal.hide('add-new-professional-form-modal')">
                    <icon name="times"></icon>
                </a>
            </div>
        </div>
        <div class="tabs is-boxed is-small custom-tabs">
            <ul>
                <li :class="[ tab === 'professional-details' ? 'is-active' : '']"><a @click="tab='professional-details'">Professional Details</a>
                </li>
                <li :class="[ tab === 'personal-details' ? 'is-active' : '']"><a @click="tab='personal-details'">Personal Details</a>
                </li>
                <li :class="[ tab === 'documents' ? 'is-active' : '']"><a @click="tab='documents'">Documents</a></li>
            </ul>
        </div>
        <div class="box help-content">
            <form @submit.prevent="addMember" v-if="tab === 'professional-details'">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Name" v-model="name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Specialization</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Specialization" v-model="specialization">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Type</label>
                    <div class="control">
                        <label class="radio">
    <input type="radio" name="type" value="professional">
    Professional
  </label>
                        <label class="radio">
    <input type="radio" name="type" value="therapist">
    Therapist
  </label>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Services</label>
                    <div class="control">
                        <div class="">
                            <input type="text" list="serviceslist"  v-on:input="addServiceTag"/>
                            <datalist id="serviceslist">
        <option v-for="service in services" v-bind:value="service">{{service}}</option>
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control" v-for="(serviceTag,index) in servicesSelected">
                        <div class="tags has-addons">
      <a class="tag is-link">{{serviceTag}}</a>
      <a class="tag is-delete" @click="removeServiceTag(index)"></a>
    </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Region</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="region">
        <option>Walk in</option>
        <option>Cold call</option>
      </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a class="button submit-button" @click="tab='personal-details'">Proceed Next</a>
                    </div>
                </div>
            </form>
            <form @submit.prevent="addMember" v-if="tab === 'personal-details'">
                <div class="field">
                    <label class="label">Phone</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Phone" v-model="phone">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Email" v-model="email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Postcode</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Postcode" v-model="postcode">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Address</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Address" v-model="address">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a class="button submit-button" @click="tab='documents'">Proceed Next</a>
                    </div>
                </div>
            </form>
            <form action="" v-if="tab === 'documents'">
                <div class="field">
                    <label class="label">Proof of Address</label>
                    <div class="control">
                        <input class="file" type="file">
                    </div>
                </div>
                <div class="field">
                    <label class="label">CV</label>
                    <div class="control">
                        <input class="file" type="file">
                    </div>
                </div>
                <div class="field">
                    <label class="label">PROOF OF THE RIGHT TO WORK (Visa/Residence Card) (applicable for non-EU citizen)</label>
                    <div class="control">
                        <input class="file" type="file">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button submit-button" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal>
</template>

<script>
import EventBus from "~/plugins/eventBus.js";
export default {
  props: {},
  data() {
    return {
      tab: "professional-details",
      scrollable: true,
      services: ["Blow Dry", "Make Up"],
      servicesSelected: []
    };
  },
  methods: {
    addServiceTag(e) {
      console.log(e.target.value);
      if (this.services.filter(service => service === e.target.value).length) {
        if (
          !this.servicesSelected.filter(service => service === e.target.value)
            .length
        ) {
          this.servicesSelected.push(e.target.value);
          e.target.value ='';
        }
      }
    },
    removeServiceTag(index) {
      this.servicesSelected.splice(index, 1);
    }
  }
  /* ,
    methods: {
        async addMember() {
            try {
                this.tab = "professional-details";
                this.$modal.hide("add-new-professional-form-modal");
                console.log("Sent");
                const {
                    data
                } = await this.$axios.$post("/api/member", {
                    email: this.email,
                    phone: this.phone,
                    name: this.name,
                    gender: this.gender,
                    source: this.source,
                    payMode: this.payMode,
                    payDate: this.payDate,
                    payReference: this.payReference,
                    packageType: this.packageType,
                    pckg: this.pckg,
                    coupon: this.coupon,
                    additionalDiscount: this.additionalDiscount,
                    activation: this.activation,
                    interest: this.interest,
                    fitnessGoal: this.fitnessGoal,
                    height: this.height,
                    weight: this.weight,
                    diet: this.diet,
                    healthProblem: this.healthProblem,
                    dob: this.dob
                });
                EventBus.$emit("newMember", data.member);
            } catch (error) {
                if (error.response && error.response.status === 500) {
                    throw new Error("Internal Server Error");
                }
                if (error.response && error.response.status === 409) {
                    throw new Error("Record Conflict");
                }
                if (error.response && error.response.status === 401) {
                    throw new Error("Not Authorized");
                }
                if (error.response && error.response.status === 422) {
                    throw new Error("Unprocessable entity");
                }
                throw error;
            }
        }
    }  */
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.tabs {
  li a {
    color: white;
    &:hover {
      background: rgba(254, 39, 120, 1);
      background: -moz-linear-gradient(
        left,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(254, 39, 120, 1)),
        color-stop(73%, rgba(254, 39, 120, 1)),
        color-stop(100%, rgba(254, 60, 60, 1))
      );
      background: -webkit-linear-gradient(
        left,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      background: -o-linear-gradient(
        left,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      background: -ms-linear-gradient(
        left,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      background: linear-gradient(
        to right,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
    }
  }
  li.is-active a {
    border-color: #fe3c46 !important;
    background: rgba(254, 39, 120, 1);
    background: -moz-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(254, 39, 120, 1)),
      color-stop(73%, rgba(254, 39, 120, 1)),
      color-stop(100%, rgba(254, 60, 60, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
  }
}

.box {
  border: 0 !important;
  box-shadow: none !important;
  background-color: $extraDarkGrey !important;
}

.professional-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a,
  .file {
    color: white !important;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey !important;
    }
  }
  .submit-button {
    background: rgba(254, 39, 120, 1);
    background: -moz-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(254, 39, 120, 1)),
      color-stop(73%, rgba(254, 39, 120, 1)),
      color-stop(100%, rgba(254, 60, 60, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
