<template>
<modal name="add-service-form-modal" :scrollable="scrollable" height="auto" @before-open="beforeOpen">
    <div class="service-form">
        <div class="modal-heading">
            <p>Add Service</p>
            <div class="modal-close-button">
                <a @click.stop="$modal.hide('add-service-form-modal')">
                    <icon name="times"></icon>
                </a>
            </div>
        </div>
        <form @submit.prevent="addService">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" v-model="name">
                </div>
            </div>
            <div class="field">
                <label class="label">Price</label>
                <div class="control">
                    <input class="input" type="text" v-model="price">
                </div>
            </div>
            <div class="field">
                <label class="label">Category</label>
                <div class="control">
                    <div class="select">
                        <select v-model="category">
                            <option v-for="(categoryVal,index) in categories" :value="categoryVal._id">{{categoryVal.catName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Please enter a description..." v-model="description"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Image</label>
                <div class="control">
                    <input class="file" ref="photo" type="file" @change="uploadPhoto">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('add-service-form-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {},
  data() {
    return {
      scrollable: true,
      name: "",
      price: "",
      description: "",
      category: "",
      photoId: "",
      serviceId: "",
      newService: false,
      uploading: false
    };
  },
  methods: {
    beforeOpen(event) {
      this.newService = event.params.newService;
      console.log(event.params.service);
      if (event.params.service) {
        this.name = event.params.service.serName;
        this.price = event.params.service.price;
        this.description = event.params.service.description;
        this.category =
          typeof event.params.service.category === "object" &&
          event.params.service.category !== null
            ? event.params.service.category._id
            : "";
        this.photoId =
          typeof event.params.service.serImg === "object" &&
          event.params.service.serImg !== null
            ? event.params.service.serImg._id
            : event.params.service.serImg;
        this.serviceId = event.params.service._id;
      }
      console.log(this.photoId + "\n" + this.category);
    },
    async uploadPhoto() {
      try {
        const formData = new FormData();
        formData.append("docs", this.$refs.photo.files[0]);
        this.uploading = true;
        const { data } = await this.$axios.$post("/api/files", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        });
        this.uploading = false;
        this.photoId = data.files._id;
        console.log(JSON.stringify(data));
      } catch (e) {
        console.log(e);
        throw e;
      }
    },
    async addService() {
      try {
        if (this.newService && !this.uploading) {
          const { data: newData } = await this.$axios.$post("/api/services", {
            serName: this.name,
            serImg: this.photoId,
            price: this.price,
            description: this.description,
            category: this.category
          });
          const { data } = await this.$axios.$get(
            "/api/services/" + newData.services._id
          );
          console.log(JSON.stringify(data));
          this.$store.commit("service/addSingleService", data.services);
          this.$modal.hide("add-service-form-modal");
        } else if (!this.newService && !this.uploading) {
          console.log(
            this.name +
              "\n" +
              this.photoId +
              "\n" +
              this.description +
              "\n" +
              this.category +
              "\n" +
              this.price
          );
          await this.$axios.$put("/api/services/" + this.serviceId, {
            serName: this.name,
            serImg: this.photoId,
            price: this.price,
            description: this.description,
            category: this.category
          });
          const { data } = await this.$axios.$get(
            "/api/services/" + this.serviceId
          );
          console.log(JSON.stringify(data));
          this.$store.commit("service/editService", data.services);
          this.$modal.hide("add-service-form-modal");
        }
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error("Internal Server Error");
        }
        if (error.response && error.response.status === 404) {
          throw new Error("No Record Found");
        }
        if (error.response && error.response.status === 401) {
          throw new Error("Not Authorized");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      }
    }
  },
  computed: {
    ...mapGetters({
      categories: "service/getCategories"
    })
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.service-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a,
  .file {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background: rgba(254, 39, 120, 1);
    background: -moz-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(254, 39, 120, 1)),
      color-stop(73%, rgba(254, 39, 120, 1)),
      color-stop(100%, rgba(254, 60, 60, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1);
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
