<template>
<div>
    <modal name="category-modal" height="auto" @before-open="beforeOpen">
    <div class="category">
        <div class="modal-close-button">
            <a @click.stop="$modal.hide('category-modal')">
                    <icon name="times"></icon>
            </a>
        </div>
        <div class="">
            <button class="button" @click="showAddCategoryModal(true,null)">Add</button>
            <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(category,index) in categories">
            <td>{{category.catName}}</td>
            <td><a @click.stop="showEditCategoryModal(false,category)">Edit</a></td>
            <td><a @click.stop="showDeleteCategoryModal(category._id)">Delete</a></td>
          </tr>
        </tbody>
      </table>
        </div>
    </div>
</modal>
<add-category/>
<delete-category/>
</div>
</template>

<script>
import { mapGetters } from "vuex";
import AddCategory from "~/components/modals/addCategory";
import DeleteCategory from "~/components/modals/deleteCategory";
export default {
  props: {
    formType: String
  },
  components: {
    AddCategory,
    DeleteCategory
  },
  data: function() {
    return {
      applicantId: ""
    };
  },
  methods: {
    beforeOpen(event) {},
    showAddCategoryModal(newCategory, category) {
      this.$modal.show("add-category-form-modal", { newCategory, category });
    },
    showEditCategoryModal(newCategory, category) {
      this.$modal.show("add-category-form-modal", { newCategory, category });
    },
    showDeleteCategoryModal(id) {
      this.$modal.show("delete-category-modal", { id });
    }
  },
  computed: {
    ...mapGetters({
      categories: "service/getCategories"
    })
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.category {
  padding: 3em;
  * {
    color: white;
  }
  .modal-close-button {
    display: flex;
    justify-content: flex-end;
  }
  .modal-heading {
    margin-bottom: 2em;
  }
  .table {
    width: fill;
    background-color: transparent;
  }

  .button {
    border-radius: 10px;
    background: rgba(254, 39, 120, 1);
    background: -moz-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(254, 39, 120, 1)),
      color-stop(73%, rgba(254, 39, 120, 1)),
      color-stop(100%, rgba(254, 60, 60, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
