<template>
<modal name="delete-applicant-modal" @before-open="beforeOpen">
    <div class="delete-applicant">
        <div class="modal-close-button">
            <a @click.stop="$modal.hide('delete-applicant-modal')">
                    <icon name="times"></icon>
            </a>
        </div>
        <div class="has-text-centered">
            <div class="modal-heading">
                <p>Are you sure you want to delete the {{formType}}?</p>
            <p>This would delete all details related to the {{formType}} permanently.</p>
            </div>
            <div class="modal-buttons">
                <div><a @click="deleteApplicant" class="button">Delete</a></div>
            <div><a @click.stop="$modal.hide('delete-applicant-modal')">Cancel</a></div>
            </div>
        </div>
    </div>
</modal>
</template>

<script>
export default {
  props: {
    formType: String
  },
  data: function() {
    return {
      applicantId: ""
    };
  },
  methods: {
    beforeOpen(event) {
      this.applicantId = event.params.applicant._id;
    },
    async deleteApplicant() {
      try {
        this.$modal.hide("delete-applicant-modal");
        const { data } = await this.$axios.$delete(
          "/api/applicant/" + this.applicantId
        );
        this.$emit("applicantDeleted", data.applicant);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error("Internal Server Error");
        }
        if (error.response && error.response.status === 404) {
          throw new Error("No Record Found");
        }
        if (error.response && error.response.status === 401) {
          throw new Error("Not Authorized");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.delete-applicant {
  padding: 3em;
  * {
    color: white;
  }
  .modal-close-button {
    display: flex;
    justify-content: flex-end;
  }
  .modal-heading {
    margin-bottom: 2em;
  }
  .modal-buttons {
    display: flex;
    flex-direction: column;
    :first-child {
      margin-bottom: 0.4em;
    }
    .button {
      background: rgba(254, 39, 120, 1);
      background: -moz-linear-gradient(
        left,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(254, 39, 120, 1)),
        color-stop(73%, rgba(254, 39, 120, 1)),
        color-stop(100%, rgba(254, 60, 60, 1))
      );
      background: -webkit-linear-gradient(
        left,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      background: -o-linear-gradient(
        left,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      background: -ms-linear-gradient(
        left,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      background: linear-gradient(
        to right,
        rgba(254, 39, 120, 1) 0%,
        rgba(254, 39, 120, 1) 73%,
        rgba(254, 60, 60, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
      border: 0;
      &:hover {
        color: #efefef;
      }
    }
    :last-child a {
      text-decoration: underline;
      &:hover {
        color: #efefef;
      }
    }
  }
}
</style>
