<template>
<modal name="screening-form-modal"  :scrollable="scrollable"  height="auto" @before-open="beforeOpen">
    <div class="lead-form">
        <div class="modal-heading">
            <p>Schedule for Screening</p>
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('screening-form-modal')">
                    <icon name="times"></icon>
            </a>
        </div>
        </div>
        <form @submit.prevent="addScreeningDetails">
            <div class="field">
              <label class="label">Screening Date and Time</label>
              <div class="control">
            <datetime type="datetime" v-model="dateTime" use12-hour></datetime>
              </div>
            </div> 
            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-text cancel-button" @click.stop="$modal.hide('screening-form-modal')">Cancel</a>
                </div>
                <div class="control">
                    <button class="button submit-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</modal>
</template>

<script>
import EventBus from "~/plugins/eventBus.js";
export default {
  props: {},
  data() {
    return {
      scrollable: true,
      dateTime: ""
    };
  },
  methods: {
    beforeOpen(event) {
      this.dateTime = event.params.applicant.dateTime;
    },
    async addScreeningDetails() {
      /* this.applicant.dateTime = this.dateTime;
      this.$modal.hide("screening-form-modal");
      EventBus.$emit("screeningDetailsChanged", this.applicant); */
      /* try {
        this.$modal.hide("screening-form-modal");
        console.log("Sent");
        const { data } = await this.$axios.$put("/api/lead/" + this.lead._id, {
          status: this.lead.status,
          stage: this.lead.stage,
          subStage: this.lead.subStage,
          style: this.lead.style,
          followUp: this.lead.followUp,
          trial: this.lead.trial,
          note: this.lead.note
        });
        console.log(data);
      } catch (error) {
        if (error.response && error.response.status === 500) {
          throw new Error("Internal Server Error");
        }
        if (error.response && error.response.status === 409) {
          throw new Error("Record Conflict");
        }
        if (error.response && error.response.status === 401) {
          throw new Error("Not Authorized");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      } */
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.lead-form {
  padding: 2em;
  label,
  .modal-heading,
  .modal-heading a {
    color: white;
  }
  label {
    font-weight: 100;
    font-size: 0.8em;
  }
  .modal-heading {
    display: flex;
    justify-content: space-between;
  }
  .select {
    width: fill-available;
    select {
      width: inherit;
    }
  }
  .cancel-button {
    color: white;
    &:hover {
      color: #efefef;
      background-color: $extraDarkGrey;
    }
  }
  .submit-button {
    background: rgba(254, 39, 120, 1);
    background: -moz-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(254, 39, 120, 1)),
      color-stop(73%, rgba(254, 39, 120, 1)),
      color-stop(100%, rgba(254, 60, 60, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(254, 39, 120, 1) 0%,
      rgba(254, 39, 120, 1) 73%,
      rgba(254, 60, 60, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
    color: white;
    border: 0;
    &:hover {
      color: #efefef;
    }
  }
}
</style>
