<template>
<div>
    <modal name="service-details-modal" :scrollable="scrollable" height="auto" @before-open="beforeOpen">
    <div class="service-details">
            <div class="modal-close-button">
            <a @click.stop="$modal.hide('service-details-modal')">
                    <icon name="times"></icon>
            </a>
        </div>
        <div class="">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9">
                        <img :src="`${service.serImg? 'https://dazlure.com'+service.serImg.permalink:'https://bulma.io/images/placeholders/640x480.png'}`"  alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <span class="title is-4">{{service.serName}}</span>
                            <span><a @click.prevent="showEditModal(false,service)">
<icon name="pencil-alt" class="applicants-icons"></icon></a><a @click.prevent="showDeleteModal(service._id)">
<icon name="trash" class="applicants-icons"></icon></a>
                            </span>
                        </div>
                        <div class="media-right">
                            <p><span class="price">Price:</span> {{service.price}}</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="categories">
                            <span class="category">Category: </span><span>{{service.category ? service.category.catName: ''}}</span>
                        </div>
                        <div>
                            <p>{{service.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</modal>
<delete-service/>
</div>
</template>

<script>
import DeleteService from "~/components/modals/deleteService";
export default {
  components: {
    DeleteService
  },
  data: function() {
    return {
      scrollable: true,
      service: {}
    };
  },
  methods: {
    beforeOpen(event) {
      this.service = event.params.service;
    },
    showDeleteModal(id) {
      this.$modal.hide("service-details-modal");
      this.$modal.show("delete-service-modal", { id });
    },
    showEditModal(newService, service) {
      this.$modal.hide("service-details-modal");
      this.$modal.show("add-service-form-modal", { newService, service });
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.service-details {
  .modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    padding: 0.3em 0.6em;
  }
  .card {
    .media-content {
      span:nth-child(2) {
        margin-left: 1em;
        a:nth-child(1) {
          margin-right: 0.5em;
        }
      }
    }
  }
  .categories .category,
  .price {
    font-weight: 600;
  }
}
</style>
