<template>
<div class="applicant-m">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="heading-container">
                <div class="heading-container-title">List of all the applicants</div>
                <div class="links">
                    <span>Sort by</span>
                    <a @click.stop="sort('az')" :class="{active: currentSort === 'az'}">A - Z</a>
                </div>
            </div>
        </div>
        <div class="applicants column is-12">
            <div class="columns applicants_columns">
                <div class="applicants_info column is-one-third" id="applicants_info_id" :class="{show_hidden_applicant:showHiddenApplicant}">
                    <nav class="level applicant" v-for="(applicant,index) in applicantsSort" :class="{active: applicantClickedIndex === index}">
                        <!-- Left side -->
                        <a @click="applicantClickedIndex = index">
                            <div class="level-left">
                                <div class="level-item">
                                    <article class="media">
                                        <div class="media-content">
                                            <div class="applicant_info_content">
                                                <p><span>{{applicant.firstName}} {{applicant.lastName}}</span> </p>
                                                <p><small>{{applicant.phone}}</small> </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </a>
                        <!-- Right side -->
                        <div class="level-right" v-if="applicantClickedIndex === index">
                            <div class="level-item">
                              <a @click.stop="showScreeningFormModal(applicant)"><icon name="rss" class="applicants-icons"></icon></a>
                                <screening-form formType="Lead" />
                                <a @click.stop="showConvertApplicantFormModal(applicant)"><icon name="plus-circle" class="applicants-icons"></icon></a>
                                
                        <convert-applicant-form/>
                                <a @click.stop="showDeleteModal(applicant)">
<icon name="trash" class="applicants-icons"></icon></a>
                                <delete-applicant  v-on:applicantDeleted="applicantDeleted" formType="applicant" />
                            </div>
                        </div>
                    </nav><a @click.stop="showHiddenApplicantsMethod" class="arrow_drop_leads_a"><icon :name="chevronApplicant" class="arrow_drop_leads"></icon></a>

                </div>
                <div class="column is-two-thirds applicant_details">
                    <div class="columns is-multiline applicant_details_columns" v-if="applicants[0]?true:false">
                        <div class="column is-12 applicant_personal">
                            <div class="column is-12">
                                <nav class="level">
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Postcode</p>
                                            <p class="">{{applicantsSort[applicantClickedIndex].postcode || "N/A"}}</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Address</p>
                                            <p class="">{{applicantsSort[applicantClickedIndex].address || "N/A"}}</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Nationality</p>
                                            <p class="">{{applicantsSort[applicantClickedIndex].nationality === 'placeholder'? "N/A": applicantsSort[applicantClickedIndex].nationality}}</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Passport No</p>
                                            <p class="">{{applicantsSort[applicantClickedIndex].passportNumber || "N/A"}}</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Nil No</p>
                                            <p class="">{{applicantsSort[applicantClickedIndex].nilNumber || "N/A"}}</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Screening Time & Date</p>
                                            <p class="">{{applicantsSort[applicantClickedIndex].dateTime | moment("dddd, MMMM Do YYYY, h:mm:ss a") || "N/A"}}</p>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <div class="column is-12 hidden_applicant_personal" :class="{show_hidden_info:showHiddenInfo}">
                                <nav class="level">
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Proof of Address</p>
                                            <p class=""><a :href="`${applicantsSort[applicantClickedIndex].addressProof?'https://dazlure.com'+applicantsSort[applicantClickedIndex].addressProof.permalink: '#'}`">{{applicantsSort[applicantClickedIndex].addressProof? "Download" : "N/A"}}</a></p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">CV</p>
                                            <p class=""><a :href="`${applicantsSort[applicantClickedIndex].applicantCV?'https://dazlure.com'+applicantsSort[applicantClickedIndex].applicantCV.permalink: '#'}`">{{applicantsSort[applicantClickedIndex].applicantCV? "Download" : "N/A"}}</a></p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Proof of the right to work</p>
                                            <p class=""><a :href="`${applicantsSort[applicantClickedIndex].rightToWork?'https://dazlure.com'+applicantsSort[applicantClickedIndex].rightToWork.permalink: '#'}`">{{applicantsSort[applicantClickedIndex].rightToWork? "Download" : "N/A"}}</a></p>
                                        </div>
                                    </div>
                                </nav>
                            <div class="column is-12">
                                <div>
                                    <p>Categories: Hair</p>
                                </div>
                            </div>
                            </div>
                            <a @click.stop="showHiddenInfoMethod"><icon :name="chevron" class="arrow_drop"></icon></a>
                        </div>
                        <div class="column is-12 applicant_activities">
                            <div class="card">
                                <div class="card-header main_header">
                                    Storyboard
                                </div>
                                <ul class="activity_day" id="activity_day_id">
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            <div class="card-header">
                                                Today
                                            </div>
                                            <ul class="activities">
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import DeleteApplicant from "~/components/modals/deleteApplicant";
import ScreeningForm from "~/components/modals/screeningForm";
import ConvertApplicantForm from "~/components/modals/convertApplicant";
import EventBus from "~/plugins/eventBus.js";
export default {
  middleware: "auth",
  layout: "dashboardLayout",
  props: {},
  components: {
    DeleteApplicant,
    ScreeningForm,
    ConvertApplicantForm
  },
  data() {
    return {
      showHiddenInfo: false,
      showHiddenApplicant: false,
      arrowDrop: "arrow_drop_down",
      arrowDropLead: "arrow_drop_down",
      chevron: "chevron-circle-down",
      chevronApplicant: "chevron-circle-down",
      applicants: [],
      currentSort: "",
      applicantClickedIndex: 0,
      sortedStories: []
    };
  },
  mounted() {
    EventBus.$on("screeningDetailsChanged", applicantDoc => {
      console.log("Bus " + JSON.stringify(applicantDoc));
      /* var applicantChanged = this.applicants.filter(el => el._id === applicantDoc._id); */
    });
  },
  methods: {
    applicantDeleted(deletedDoc) {
      this.applicants = this.applicants.filter(el => el._id !== deletedDoc._id);
    },
    showEditLeadFormModal() {
      this.$modal.show("edit-lead-form-modal");
    },
    showConvertApplicantFormModal(applicant) {
      this.$modal.show("convert-applicant-form-modal", {
        applicant: applicant
      });
    },
    showScreeningFormModal(applicant) {
      this.$modal.show("screening-form-modal", {
        applicant: applicant
      });
    },
    showDeleteModal(applicant) {
      this.$modal.show("delete-applicant-modal", {
        applicant: applicant
      });
    },
    showHiddenInfoMethod() {
      this.showHiddenInfo = !this.showHiddenInfo;
      if (this.showHiddenInfo) {
        this.chevron = "chevron-circle-up";
      } else {
        this.chevron = "chevron-circle-down";
      }
    },
    showHiddenApplicantsMethod() {
      this.showHiddenApplicant = !this.showHiddenApplicant;
      if (this.showHiddenApplicant) {
        this.chevronApplicant = "chevron-circle-up";
      } else {
        this.chevronApplicant = "chevron-circle-down";
      }
    },
    sort(sortBy) {
      if (sortBy !== this.currentSort) {
        this.currentSort = sortBy;
      }
    }
  },
  async asyncData(context) {
    try {
      console.log("get");
      const { data } = await context.app.$axios.$get("/api/applicant");
      console.log(data);
      return {
        applicants: data.applicants
      };
    } catch (error) {
      if (error.response && error.response.status === 500) {
        throw new Error("Internal Server Error");
      }
      if (error.response && error.response.status === 404) {
        throw new Error("No Record found");
      }
      if (error.response && error.response.status === 401) {
        throw new Error("Not Authorized");
      }
      throw error;
    }
  },
  computed: {
    applicantsSort() {
      var that = this;
      return this.applicants.sort(function(a, b) {
        if (that.currentSort === "az") {
          var x = a.firstName.toLowerCase();
          var y = b.firstName.toLowerCase();
          if (x < y) {
            return -1;
          }
          if (x > y) {
            return 1;
          }
          return 0;
        } else {
          return that.applicants;
        }
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.heading-container {
  .heading-container-title {
    font-size: 1.3em;
  }
  .links {
    a {
      font-size: 0.8em;
    }
  }
}

.applicant-m {
  margin-top: 1em;
}

.applicants .media-left img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.applicants_columns {
  min-height: 100vh;
  max-height: 100vh;
  height: fill-available;
}

.hidden_applicant_personal {
  display: none;
  .level-item {
    div {
      p:last-child {
        a {
          color: white !important;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.show_hidden_info {
  display: block !important;
}
.show_hidden_applicant {
  max-height: fit-content !important;
}

.applicants .applicants_info {
  background-color: white;
  padding: 0;
  overflow: auto;
  max-height: inherit;
  .applicant {
    display: flex;
    padding: 0.75rem;
    border-bottom: 1px solid #efefef;
    min-height: 79px;
    &.active {
      background-color: $extraDarkGrey;
      .applicant_info_content {
        color: white;
      }
    }
    .applicants-icons {
      color: white;
    }
    .applicant_info_content {
      p {
        line-height: 0.9em;
      }
      span {
        font-weight: 400;
        font-size: 0.8em;
      }
      small {
        font-size: 0.68em;
      }
    }
  }
}

.applicant:not(:last-child) {
  margin-bottom: 0;
}

.applicant:last-child {
  border-bottom: none !important;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a:nth-child(2),
.links a:nth-child(3) {
  margin: 0 10px;
}

.links a.active {
  text-decoration: underline;
  font-weight: bold;
}

.applicant_details {
  background-color: $extraDarkGrey;
  color: white;
  /* height: 100vh; */
  .applicant_details_columns {
    /* max-height: 100vh;
    min-height: 100vh; */
    .applicant_personal {
      height: min-content;
      border-bottom: 1px solid white;
      font-size: 0.7em;
      .level {
        flex-wrap: wrap;
      }
    }
  }
}

.applicant_activities {
  max-height: 100vh;
  .card {
    max-height: 100vh;
    color: white;
    background-color: $extraDarkGrey;
    box-shadow: none;
    border: none;
    .main_header {
      box-shadow: none;
      font-weight: 700;
      margin-bottom: 1em;
    }
    .activity_day {
      height: 55vh;
      overflow: auto;
      .card {
        margin-bottom: 1.5em;
      }
      .card-header {
        box-shadow: none;
        font-style: italic;
        font-size: 0.7em;
        margin-bottom: 0.5em;
      }
      .activities {
        margin-left: 0.25em;
      }
    }
  }
}

#activity_day_id::-webkit-scrollbar,
#applicants_info_id::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

#activity_day_id::-webkit-scrollbar-thumb,
#applicants_info_id::-webkit-scrollbar-thumb {
  background-color: #716f6e;
}

#activity_day_id::-webkit-scrollbar-track
  #applicants_info_id::-webkit-scrollbar-track {
  background-color: $extraDarkGrey;
}

.arrow_drop {
  position: relative;
  bottom: -17px;
  font-size: 15px;
  color: white;
  margin-left: 50%;
}
.arrow_drop_leads {
  position: relative;
  bottom: 105px;
  font-size: 15px;
  color: black;
  margin-left: 50%;
}
.arrow_drop_leads_a {
  display: none;
  height: 0;
}
@media screen and (max-width: 600px) {
  .heading-container {
    display: block;
  }
  .applicant_details {
    .applicant_details_columns {
      .applicant_personal {
        font-size: 0.7em;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .heading-container {
    display: block;
    .links {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 760px) {
  .applicant_details {
    .applicant_details_columns {
      .applicant_personal {
        font-size: 0.6em;
      }
    }
  }
  .applicants .applicants_info {
    .level {
      .level-right {
        .level-item a:not(:last-child) {
          margin-right: 0.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .arrow_drop_leads_a {
    display: block;
  }
  .applicant_personal {
    .level {
      .level-item {
        & > div {
          display: inline-flex;
          p:first-child {
            margin-right: 0.5em;
            &::after {
              content: " :";
            }
          }
        }
      }
    }
  }
  .applicants .applicants_info {
    max-height: 79px;
    overflow: hidden;
    .level {
      .level-right {
        .level-item:not(:last-child) {
          margin-bottom: 0.4rem;
        }
        .level-item a:not(:last-child) {
          margin-right: 0.4rem;
        }
      }
    }
  }
}
</style>
