<template>
<div class="applicant-m">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="heading-container">
                <div class="heading-container-title">List of all the customers</div>
                <div class="links">
                    <span>Sort by</span>
                    <a @click.stop="sort('order')" :class="{active: currentSort === 'order'}">No of orders</a>
                    <a @click.stop="sort('last')" :class="{active: currentSort === 'last'}">Last purchased</a>
                </div>
            </div>
        </div>
        <div class="applicants column is-12">
            <div class="columns applicants_columns">
                <div class="applicants_info column is-one-third" id="applicants_info_id" :class="{show_hidden_applicant:showHiddenApplicant}">
                    <nav class="level applicant" v-for="(professional,index) in professionalsSort" :class="{active: professionalClickedIndex === index}">
                        <!-- Left side -->
                        <a @click="professionalClickedIndex = index">
                            <div class="level-left">
                                <div class="level-item">
                                    <article class="media">
                                        <div class="media-content">
                                            <div class="applicant_info_content">
                                                <p><span>{{professional.firstName}} {{professional.lastName}}</span> </p>
                                                <p><small>{{professional.phone}}</small> </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </a>
                        <!-- Right side -->
                        <div class="level-right" v-if="professionalClickedIndex === index">
                            <div class="level-item">
                              <div class="field" title="Deactivate Customer">
  <input id="switchRoundedDanger" type="checkbox" name="switchRoundedDanger" class="switch is-rounded is-danger is-small">
  <label for="switchRoundedDanger"></label>
</div>
                            </div>
                        </div>
                    </nav><a @click.stop="showHiddenApplicantsMethod" class="arrow_drop_leads_a"><icon :name="chevronApplicant" class="arrow_drop_leads"></icon></a>

                </div>
                <div class="column is-two-thirds applicant_details">
                    <div class="columns is-multiline applicant_details_columns" v-if="professionals[0]?true:false">
                        <div class="column is-12 applicant_personal">
                            <div class="columns stat_cards">
                                <div class="column is-one-third"><div class="box has-text-centered"><p>No. of Orders</p><p class="title">10</p></div></div>
                                <div class="column is-one-third"><div class="box has-text-centered"><p>Total Purchased Amount</p><p class="title">£ 200</p></div></div>
                                <div class="column is-one-third"><div class="box has-text-centered"><p>No. of service providers</p><p class="title">2</p></div></div>
                            </div>
                            <div class="column is-12 hidden_applicant_personal" :class="{show_hidden_info:showHiddenInfo}">
                                <nav class="level">
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="">Email</p>
                                            <p class="">sahil@vsv.com</p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class=""><a href="#">View Map</a></p>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <bar-analytics color="white"/>
                           
                        </div>
                        <div class="column is-12 applicant_activities">
                            <div class="card">
                                <div class="card-header main_header">
                                    Purchase List
                                </div>
                                <!-- <ul class="activity_day" id="activity_day_id">
                                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</li>                                    
                                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</li>                                    
                                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</li>                                    
                                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</li>                                    
                                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</li>                                    
                                </ul> -->
                                <div class="card table_card" id="table_card_id">
                                <table class="table activity_day is-fullwidth">
                                  <thead>
                                    <tr>
                                      <th>Service Name</th>
                                      <th>Cost</th>
                                      <th>Date of purchase</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                  
                                    <tr>
                                      <td>Hair Dry</td>
                                      <td>10 Gbp</td>
                                      <td>10/3/2018</td>
                                    </tr>
                                    <tr>
                                      <td>Hair Dry</td>
                                      <td>10 Gbp</td>
                                      <td>10/3/2018</td>
                                    </tr>
                                    <tr>
                                      <td>Hair Dry</td>
                                      <td>10 Gbp</td>
                                      <td>10/3/2018</td>
                                    </tr>
                                    <tr>
                                      <td>Hair Dry</td>
                                      <td>10 Gbp</td>
                                      <td>10/3/2018</td>
                                    </tr>
                                    <tr>
                                      <td>Hair Dry</td>
                                      <td>10 Gbp</td>
                                      <td>10/3/2018</td>
                                    </tr>
                                  
                                  </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import EventBus from "~/plugins/eventBus.js";
import BarAnalytics from "~/components/analytics/barAnalytics";
export default {
  middleware: "auth",
  layout: "dashboardLayout",
  props: {},
  components: {
    BarAnalytics
  },
  data() {
    return {
      showHiddenInfo: false,
      showHiddenApplicant: false,
      arrowDrop: "arrow_drop_down",
      arrowDropLead: "arrow_drop_down",
      chevron: "chevron-circle-down",
      chevronApplicant: "chevron-circle-down",
      professionals: [],
      currentSort: "",
      professionalClickedIndex: 0,
      sortedStories: []
    };
  },
  mounted() {
    EventBus.$on("screeningDetailsChanged", applicantDoc => {
      console.log("Bus " + JSON.stringify(applicantDoc));
    });
  },
  methods: {
    applicantDeleted(deletedDoc) {
      this.applicants = this.applicants.filter(el => el._id !== deletedDoc._id);
    },
    showEditLeadFormModal() {
      this.$modal.show("edit-lead-form-modal");
    },
    showConvertMemberFormModal() {
      this.$modal.show("convert-member-form-modal");
    },
    showScreeningFormModal() {
      this.$modal.show("screening-form-modal");
    },
    showDeleteModal() {
      this.$modal.show("delete-applicant-modal");
    },
    showHiddenInfoMethod() {
      this.showHiddenInfo = !this.showHiddenInfo;
      if (this.showHiddenInfo) {
        this.chevron = "chevron-circle-up";
      } else {
        this.chevron = "chevron-circle-down";
      }
    },
    showHiddenApplicantsMethod() {
      this.showHiddenApplicant = !this.showHiddenApplicant;
      if (this.showHiddenApplicant) {
        this.chevronApplicant = "chevron-circle-up";
      } else {
        this.chevronApplicant = "chevron-circle-down";
      }
    },
    sort(sortBy) {
      if (sortBy !== this.currentSort) {
        this.currentSort = sortBy;
      }
    }
  },
  async asyncData(context) {
    try {
      console.log("get");
      const { data } = await context.app.$axios.$get("/api/applicant");
      console.log(data);
      return {
        professionals: data.applicants
      };
    } catch (error) {
      if (error.response && error.response.status === 500) {
        throw new Error("Internal Server Error");
      }
      if (error.response && error.response.status === 404) {
        throw new Error("No Record found");
      }
      if (error.response && error.response.status === 401) {
        throw new Error("Not Authorized");
      }
      throw error;
    }
  },
  computed: {
    professionalsSort() {
      var that = this;
      return this.professionals.sort(function(a, b) {
        if (that.currentSort === "az") {
          var x = a.firstName.toLowerCase();
          var y = b.firstName.toLowerCase();
          if (x < y) {
            return -1;
          }
          if (x > y) {
            return 1;
          }
          return 0;
        } else {
          return that.professionals;
        }
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import "~assets/css/_variables.scss";
.heading-container {
  .heading-container-title {
    font-size: 1.3em;
  }
  .links {
    a {
      font-size: 0.8em;
    }
  }
}

.applicant-m {
  margin-top: 1em;
}

.applicants .media-left img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.applicants_columns {
  min-height: 100vh;
  max-height: 100vh;
  height: fill-available;
}

.hidden_applicant_personal {
  display: none;
  .level-item {
    div {
      p:last-child {
        a {
          color: white !important;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.show_hidden_info {
  display: block !important;
}
.show_hidden_applicant {
  max-height: fit-content !important;
}

.applicants .applicants_info {
  background-color: white;
  padding: 0;
  overflow: auto;
  max-height: inherit;
  .applicant {
    color: white;
    display: flex;
    padding: 0.75rem;
    border-bottom: 1px solid #efefef;
    min-height: 79px;
    &.active {
      background-color: $extraDarkGrey;
      .applicant_info_content {
        color: white;
      }
    }
    .applicants-icons {
      color: white;
    }
    .applicant_info_content {
      p {
        line-height: 0.9em;
      }
      span {
        font-weight: 400;
        font-size: 0.8em;
      }
      small {
        font-size: 0.68em;
      }
    }
  }
}

.applicant:not(:last-child) {
  margin-bottom: 0;
}

.applicant:last-child {
  border-bottom: none !important;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a:nth-child(2),
.links a:nth-child(3) {
  margin: 0 10px;
}

.links a.active {
  text-decoration: underline;
  font-weight: bold;
}

.applicant_details {
  background-color: $extraDarkGrey;
  color: white;
  /* height: 100vh; */
  .applicant_details_columns {
    /* max-height: 100vh;
    min-height: 100vh; */
    .applicant_personal {
      height: min-content;
      font-size: 0.7em;
      .stat_cards .box {
        background-color: #586a7b;
        color: white;
        .title {
          color: white;
        }
      }
      .level {
        flex-wrap: wrap;
      }
    }
  }
}

.applicant_activities {
  max-height: 100vh;
  .card {
    max-height: 100vh;
    color: white;
    background-color: $extraDarkGrey;
    box-shadow: none;
    border: none;
    .main_header {
      box-shadow: none;
      font-weight: 700;
      margin-bottom: 1em;
    }
    .activity_day {
      height: 25vh;
      overflow: auto;
      li:not(:last-child) {
        border-bottom: 1px solid white;
      }
    }
  }
}

#activity_day_id::-webkit-scrollbar,
#applicants_info_id::-webkit-scrollbar,
#table_card_id::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

#activity_day_id::-webkit-scrollbar-thumb,
#applicants_info_id::-webkit-scrollbar-thumb,
#table_card_id::-webkit-scrollbar-thumb {
  background-color: #716f6e;
}

#activity_day_id::-webkit-scrollbar-track
  #applicants_info_id::-webkit-scrollbar-track,
#table_card_id::-webkit-scrollbar-track {
  background-color: $extraDarkGrey;
}
.table_card {
  height: 21vh;
  overflow: auto;
  .table {
    background-color: $extraDarkGrey;
    color: white;
    thead tr th {
      color: white;
    }
  }
}
.arrow_drop {
  position: relative;
  bottom: -17px;
  font-size: 15px;
  color: white;
  margin-left: 50%;
}
.arrow_drop_leads {
  position: relative;
  bottom: 105px;
  font-size: 15px;
  color: black;
  margin-left: 50%;
}
.arrow_drop_leads_a {
  display: none;
  height: 0;
}
@media screen and (max-width: 600px) {
  .heading-container {
    display: block;
  }
  .applicant_details {
    .applicant_details_columns {
      .applicant_personal {
        font-size: 0.7em;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .heading-container {
    display: block;
    .links {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 760px) {
  .applicant_details {
    .applicant_details_columns {
      .applicant_personal {
        font-size: 0.6em;
      }
    }
  }
  .applicants .applicants_info {
    .level {
      .level-right {
        .level-item a:not(:last-child) {
          margin-right: 0.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .arrow_drop_leads_a {
    display: block;
  }
  .applicant_personal {
    .level {
      .level-item {
        & > div {
          display: inline-flex;
          p:first-child {
            margin-right: 0.5em;
            &::after {
              content: " :";
            }
          }
        }
      }
    }
  }
  .applicants .applicants_info {
    max-height: 79px;
    overflow: hidden;
    .level {
      .level-right {
        .level-item:not(:last-child) {
          margin-bottom: 0.4rem;
        }
        .level-item a:not(:last-child) {
          margin-right: 0.4rem;
        }
      }
    }
  }
}
</style>
