<template>
<div class="frontsite-container">
  <div class="columns is-variable is-9 is-multiline">
    <div class="column is-12">
      <h2 class="subtitle">What is Dazlure block</h2>
      <div class="field">
        <div class="control">
          <textarea class="textarea" placeholder="Textarea" v-model="whatIs"><h3>What is Dazlure?</h3><p class='landing__what--special'>Dazlure is a beauty services platform, that connects beaticians and clients. Our focus is on high quality and convenient service.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nulla dignissimos. At nam, maiores perferendis quod et velit saepe facilis suscipit itaque sit ipsum aliquam sed ratione omnis fugiat corporis incidunt soluta eum hic quas cumque. A porro, molestias quod reiciendis eveniet rerum facere eos placeat, quis earum adipisci modi et voluptatem doloremque tempora sint enim sunt distinctio sed alias!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, pariatur quidem adipisci? Excepturi quia, alias, nemo, est molestiae error aperiam tenetur saepe pariatur quod culpa reprehenderit porro fuga! Vel id maiores doloremque eaque incidunt. Vel facere ad, recusandae voluptate autem?</p></textarea>
        </div>
      </div>
      <button class="button submit-button" @click.prevent="editDetailsBlock('whatIs')">Submit</button>
      <span v-if="whatIsSaved" style="margin-left: 1em;
    vertical-align: -webkit-baseline-middle; color:#008000;">Saved</span>
      <!-- <froala class="whatIs" :tag="'textarea'" :config="configWhatIs"></froala> -->
    </div>
    <div class="column is-12">
      <h2 class="subtitle">Requirements block</h2>
      <div class="field">
        <div class="control">
          <textarea class="textarea" placeholder="Textarea" v-model="requirement"><h3>Requirements</h3><p class='landing__what--special'>To work with eChíc you must:</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nulla dignissimos. At nam, maiores perferendis quod et velit saepe facilis suscipit itaque sit ipsum aliquam sed ratione omnis fugiat corporis incidunt soluta eum hic quas cumque. A porro, molestias quod reiciendis eveniet rerum facere eos placeat, quis earum adipisci modi et voluptatem doloremque tempora sint enim sunt distinctio sed alias!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sequi voluptates dolores obcaecati commodi laboriosam nulla nostrum ex, aut blanditiis.</p></textarea>
        </div>
      </div>
      <button class="button submit-button" @click.prevent="editDetailsBlock('requirement')">Submit</button>
      <span v-if="requirementSaved" style="margin-left: 1em;
    vertical-align: -webkit-baseline-middle; color:#008000;">Saved</span>
      <!-- <froala :tag="'textarea'" :config="config" v-model="requirement"></froala> -->
    </div>
    <div class="column is-12">
      <h2 class="subtitle">How it works block</h2>
      <!-- <button class="button submit-button" @click.prevent="showBlockModal('how',true)">Add</button> -->
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(how,index) in filterBlocks('how')">
            <td>{{how.ctTitle}}</td>
            <td class="desc">{{how.ctContent}}</td>
            <td><a @click.stop="showBlockModal('how',false,how)">Edit</a></td>
            <td><a @click.stop="showDeleteBlockModal(how._id)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column is-12">
      <h2 class="subtitle">Services block</h2>
      <!-- <button class="button submit-button" @click.prevent="showBlockModal('service',true)">Add</button> -->
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(service,index) in filterBlocks('service')">
            <td>{{service.ctTitle}}</td>
            <td class="desc">{{service.ctContent}}</td>
            <td><a @click.stop="showBlockModal('service',false,service)">Edit</a></td>
            <td><a @click.stop="showDeleteBlockModal(service._id)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <add-block/>
    <delete-block/>
  </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapMutations } from "vuex";
import AddBlock from "~/components/modals/addBlock";
import DeleteBlock from "~/components/modals/deleteBlock";
export default {
  middleware: "auth",
  layout: "dashboardLayout",
  components: {
    AddBlock,
    DeleteBlock
  },
  data: function() {
    return {
      configWhatIs: {
        height: 337
      },
      whatIs: "",
      requirement: "",
      whatIsSaved: false,
      requirementSaved: false
    };
  },
  async asyncData(context) {
    try {
      const { data } = await context.app.$axios.$get("/api/front");
      //console.log(JSON.stringify(data.fronts));
      context.store.commit("block/addBlocks", data.fronts);
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error("Wrong credentials");
      }
      if (error.response && error.response.status === 404) {
        throw new Error("Username or Email already exists");
      }
      throw error;
    }
  },
  methods: {
    async editDetailsBlock(type) {
      try {
        const { data: whatIsData } = await this.$axios.$get(
          "/api/front/type/whatIs"
        );
        const { data: reqData } = await this.$axios.$get(
          "/api/front/type/requirement"
        );
        if (type === "whatIs") {
          const { data } = await this.$axios.$put(
            "/api/front/" + whatIsData.fronts[0]._id,
            {
              ctContent: this.whatIs
            }
          );
          this.whatIsSaved = true;
        } else {
          const { data } = await this.$axios.$put(
            "/api/front/" + reqData.fronts[0]._id,
            {
              ctContent: this.requirement
            }
          );
          this.requirementSaved = true;
        }

        // console.log(JSON.stringify(data));
      } catch (error) {
        if (error.response && error.response.status === 401) {
          throw new Error("Wrong credentials");
        }
        if (error.response && error.response.status === 422) {
          throw new Error("Unprocessable entity");
        }
        throw error;
      }
    },
    showBlockModal(type, newBlock, block) {
      this.$modal.show("add-block-form-modal", {
        type,
        newBlock,
        block
      });
    },
    showDeleteBlockModal(id) {
      this.$modal.show("delete-block-modal", {
        id
      });
    },
    filterBlocks(type) {
      return this.blocks.filter(el => el.ctType === type);
    }
  },
  computed: {
    ...mapGetters({
      blocks: "block/getBlocks"
    })
  },
  mounted() {
    var whatIsdata = this.blocks.filter(el => el.ctType === "whatIs");
    this.whatIs = whatIsdata[0].ctContent;
    var requirementdata = this.blocks.filter(el => el.ctType === "requirement");
    this.requirement = requirementdata[0].ctContent;
  }
};
</script>

<style scoped lang="scss">
.fr-wrapper {
  height: 337px !important;
}

tbody {
  .desc {
    overflow: hidden;
    max-width: 30ch;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
button.submit-button {
  margin-bottom: 1em;
  color: white;
  border-radius: 10px;
  background: rgba(254, 39, 120, 1);
  background: -moz-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(254, 39, 120, 1)),
    color-stop(73%, rgba(254, 39, 120, 1)),
    color-stop(100%, rgba(254, 60, 60, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
}
@media screen and (max-width: 500px) {
  tbody {
    .desc {
      max-width: 3vw !important;
    }
  }
}
</style>
