<template>
<div class="mobilebanner-container">
  <div class="columns is-variable is-9 is-multiline">
      <div class="column is-12">
          <h2 class="subtitle">Mobile Banners</h2>
      <button class="button submit-button" @click.prevent="showBannerModal(true,null)">Add</button>
      <add-banner/>
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(banner,index) in banners">
            <td class="desc">{{banner.description}}</td>
            <td><a @click.stop="showBannerModal(false,banner)">Edit</a></td>
            <td><a @click.stop="showDeleteBannerModal(banner._id)">Delete</a></td>
          </tr>
        </tbody>
      </table>
      </div>
      <delete-banner/>
  </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";
import AddBanner from "~/components/modals/addBanner";
import DeleteBanner from "~/components/modals/deleteBanner";
export default {
  middleware: "auth",
  layout: "dashboardLayout",
  components: {
    AddBanner,
    DeleteBanner
  },
  data: function() {
    return {};
  },
  async asyncData(context) {
    try {
      const { data } = await context.app.$axios.$get("/api/banner");
      //console.log(JSON.stringify(data.banners));
      context.store.commit("banner/addBanners", data.banners);
    } catch (error) {
      if (error.response && error.response.status === 401) {
        throw new Error("Wrong credentials");
      }
      if (error.response && error.response.status === 404) {
        throw new Error("Username or Email already exists");
      }
      throw error;
    }
  },
  methods: {
    showBannerModal(newBanner, banner) {
      this.$modal.show("add-banner-form-modal", { newBanner, banner });
    },
    showDeleteBannerModal(id) {
      this.$modal.show("delete-banner-modal", { id });
    }
  },
  computed: {
    ...mapGetters({
      banners: "banner/getBanners"
    })
  }
};
</script>

<style scoped lang="scss">
button.submit-button {
  margin-bottom: 1em;
  color: white;
  border-radius: 10px;
  background: rgba(254, 39, 120, 1);
  background: -moz-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(254, 39, 120, 1)),
    color-stop(73%, rgba(254, 39, 120, 1)),
    color-stop(100%, rgba(254, 60, 60, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(254, 39, 120, 1) 0%,
    rgba(254, 39, 120, 1) 73%,
    rgba(254, 60, 60, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2778', endColorstr='#fe3c3c', GradientType=1 );
}
</style>
