<template>
<div class="service-container">
    <service-buttons/>
    <div class="column is-12">
            <div class="heading-container">
                <div class="heading-container-title">List of all the services</div>
                <div class="filter">
                    <span>Filter by category</span>
                    <div class="field">
                <div class="control">
                    <div class="select is-small is-rounded">
                        <select v-model="filterCategory">
                            <option value="All">All</option>
                            <option v-for="(category,index) in categories" :value="category.catName">{{category.catName}}</option>
                        </select>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    <div class="columns is-variable is-9 is-multiline">
        <div class="column is-one-third" v-for="(service,index) in servicesSort">
            <a @click="openDetailsModal(service)">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-16by9">
                        <img :src="`${service.serImg? 'https://dazlure.com'+service.serImg.permalink:'https://bulma.io/images/placeholders/640x480.png'}`" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{service.serName}}</p>
                        </div>
                        <div class="media-right">
                            <p><span class="price">Price:</span> {{service.price}}</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="categories">
                            <div><small>Category: {{service.category ? service.category.catName: ''}}</small></div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <service-details/>
    </div>
</div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapMutations } from "vuex";
import ServiceButtons from "~/components/serviceButtons";
import ServiceDetails from "~/components/modals/serviceDetails";
export default {
  middleware: "auth",
  layout: "dashboardLayout",
  components: {
    ServiceButtons,
    ServiceDetails
  },
  data: function() {
    return {
      filterCategory: "All"
    };
  },
  async asyncData(context) {
    try {
      const { data: cat } = await context.app.$axios.$get("/api/servicecat");
      const { data: ser } = await context.app.$axios.$get("/api/services");
      //console.log(JSON.stringify(data));
      context.store.commit("service/addCategories", cat.servicecats);
      context.store.commit("service/addServices", ser.servicess);
    } catch (error) {
      if (error.response && error.response.status === 500) {
        throw new Error("Internal Server Error");
      }
      if (error.response && error.response.status === 404) {
        throw new Error("No Record Found");
      }
      if (error.response && error.response.status === 401) {
        throw new Error("Not Authorized");
      }
      if (error.response && error.response.status === 422) {
        throw new Error("Unprocessable entity");
      }
      throw error;
    }
  },
  methods: {
    openDetailsModal(service) {
      this.$modal.show("service-details-modal", { service });
    }
  },
  computed: {
    ...mapGetters({
      services: "service/getServices",
      categories: "service/getCategories"
    }),
    servicesSort() {
      var that = this;
      return this.services.filter(function(service) {
        if (that.filterCategory === "All") {
          return true;
        }
        if (service.category !== null && typeof service.category === "object") {
          return that.filterCategory === service.category.catName;
        }
        return false;
      });
    }
  }
};
</script>

<style scoped lang="scss">
.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .heading-container-title {
    font-size: 1.3em;
  }
  .filter {
    display: flex;
    span {
      margin-right: 0.5em;
    }
  }
}
.categories {
  display: flex;
  justify-content: space-between;
}
.price {
  font-weight: 600;
}
</style>
